<!DOCTYPE html>
<html>
  <head>
    <title>Zephyr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <!-- ??? must set window.currentUser to current_user -->
    <% if current_user %>
    <script> window.currentUser = <%= current_user.id %> </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>